@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "AbaddonBold";
    src: local("GoldmanBold"),
 url("./fonts/Abaddon_Fonts_v1.2/AbaddonBold.ttf") ;
    font-weight: bold;
}
.font-abaddon {
  font-family: "AbaddonBold";
}